.App {
  text-align: center;
}

.homeContainer {
  width: 60%;
  margin: auto;
  padding: 5% 0%;
}

.categorySelectContainer {
  width: 90%;
  margin: auto;
}

.Polaris-Select {
  margin: 5% 0%;
}

.attributeSelectContainer {
  width: 90%;
  margin: auto;
}

.eachAttributeSelectDiv
{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.eachAttributeSelectDiv > div
{
  width: 48%;
}

.Polaris-Connected
{
  margin: 5% 0%;
}

.addBtnDiv
{
  width: 90%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: start;
  background-color: white;
  padding: 2% 2%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.labelPara
{
  font-size: 1.3vw;
  font-weight: bolder;
  margin: 0% 0%;
}

.eachAttributeContainer
{
  width: 100%;
  background-color: white;
  padding: 2% 2%;
  margin: 5% 0%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.deleteAttributeBtn
{
  width: 100%;
  text-align: end;
  color: rgb(15, 101, 221);
  cursor: pointer;
}

.btnDivText
{
  font-size: 1.5vw;
  font-weight: bolder;
}


